/* spinner adding for loading */ 
#spinner{
    display: none;
  }
  /* wrong data input error handaling   */
#error-input{
    display: none;
  }

/* empty input handalling  */
#empty-error{
  display: none;
}
        /* End CSS  */